---
import Badge from "./Badge.astro"
---
<section id="about" class="h-3/4">
   <div class="about-box flex flex-col justify-center sm:flex-row w-auto m-auto h-auto gap-10 mb-40"> 
   <article class="w-1/2">
    <h3 class="text-5xl mb-5 font-semibold">What's my profession?</h3>
      <p class="text-xl">Throughout my life, is the constante Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo odit architecto minima ratione commodi ipsam! Blanditiis maxime voluptates voluptas alias praesentium hic neque consequuntur, reprehenderit ipsa quaerat expedita ut qui!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio beatae expedita molestiae, dignissimos eaque ea tenetur ab explicabo, eligendi, dolorem velit repudiandae voluptas consequuntur porro fugit tempora reiciendis modi voluptates!</p>
      <Badge>Open to work</Badge>
   </article>
     <div>
        
        <img class="rounded-full size-60 sm:size-80" src="https://avatars.githubusercontent.com/u/82120092?v=4" alt="Eduado Arede image" title="Eduardo Arede">
     </div>
    </div>
</section>

