---
interface Props {
    classProps: string;
    href: string;
}

const { classProps, href } = Astro.props

---
<a class=`rounded-full cursor-pointer text-2xl bg-green-700 mt-11 p-3 px-10 ${classProps} hover:bg-yellow-500 hover:scale-110 transition` href={href}>
  <slot/>
</a>