---
interface Props {
    classProps: string;
    href: string;
}

const { classProps, href } = Astro.props

---
<a target="_blank" class=`rounded-full cursor-pointer text-xl bg-green-700 mt-11 py-1 px-7 ${classProps} hover:bg-yellow-500 hover:scale-110 transition` href={href}>
  <slot/>
</a>