---
import type { Code, Debug } from "astro:components"
import ExperienceItem from "./ExperienceItem.astro"

interface Props {
    sub1: string
    desc1: string
    sub2: string
    desc2: string
}

const 

const EXPERIENCE = [
{
    date: 'Oct 2023 - Nov 2023',
    title: 'PHP Developer',
    description: 'My tasks involved the maintenance, and post-production improvement, of an application developed in PHP intended for e-commerce.',
   
},
{
    date: 'jan 2023 - Jul 2023',
    title: 'ReactJS Developer',
    description: 'Development of static websites, and dynamic applications of greater complexity. In the latter, the use of the different libraries available to solve the commercial problem was very important..'
},


]
---
<!--Componente extraido de FlowBite-->
<!--Enviamos por *props* todos los elementos del ARRAY de objetos-->
<ol class="relative border-s border-gray-200 ml-3"> 
    {
        EXPERIENCE.map(exp => (
        <li class="mb-10 ms-4">
              <ExperienceItem {...exp}/> 
        </li>
        ))
    }                 
    
</ol>

