---
import type { Code, Debug } from "astro:components"
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
{
    date: 'Latest..',
    title: 'Freelancer UX Design',
    description: 'All of the pages components are designed in Figma and we keep a partity between the two versions even as we update the project.',
    link: 'https://github.com/'
},
{
    date: 'Dec 2023',
    title: 'E-commerce UI code in Tailwind CSS',
    description: 'Get started with dozens of web components and interactive elements built on top of Tailwind CSS.'
},
{
    date: 'Nov 2023',
    title: 'Application UI coode in Tailwind CSS',
    description: 'Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.'
},

]
---
<!--Componente extraido de FlowBite-->
<!--Enviamos por *props* todos los elementos del ARRAY de objetos-->
<ol class="relative border-s border-gray-200 ml-3"> 
    {
        EXPERIENCE.map(exp => (
        <li class="mb-10 ms-4">
              <ExperienceItem {...exp}/> 
        </li>
        ))
    }                 
    
</ol>

