---
import type { Code, Debug } from "astro:components"
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
{
    date: 'Oct 2023 - Nov 2023',
    title: 'PHP Developer - Server side',
    description: 'In this project, I developed the application by which the data entered by the user from the client was received.',
   
},
{
    date: 'Jul 2023',
    title: 'ReactJS Developer',
    description: 'Get started with dozens of web components and interactive elements built on top of Tailwind CSS.'
},
{
    date: 'Nov 2023',
    title: 'Application UI coode in Tailwind CSS',
    description: 'Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.'
},

]
---
<!--Componente extraido de FlowBite-->
<!--Enviamos por *props* todos los elementos del ARRAY de objetos-->
<ol class="relative border-s border-gray-200 ml-3"> 
    {
        EXPERIENCE.map(exp => (
        <li class="mb-10 ms-4">
              <ExperienceItem {...exp}/> 
        </li>
        ))
    }                 
    
</ol>

