
<footer class="footer rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm sm:text-center text-yellow-200">© 2024 - Made by <a href="https://github.com/RadamantiumX/" class="hover:underline">RadamantiumX</a> | Web Developer & Software solutions
  </span>
 
  </div>
</footer>


<style>
 .footer{
   background-image: linear-gradient(to top,  rgba(24, 26, 29, 0.404)0%,rgba(50, 24, 92, 0.404)100%);
 }
</style>
