<section class="middle mb-10">

</section>

<style>
    .middle {
        height: 40vh;
		background-image: linear-gradient(to top,  rgba(24, 25, 26, 0.404)0%,rgba(20, 2, 48, 0.404)100%), url(../../public/projects/ultimate-bg-working.webp);
		/*background-image: -webkit-linear-gradient(120deg, #013A6B 45%, #4CBFFF 45%);*/
		background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
     }
</style>