---
// Importamos el icono, pero esta vez *NO* como componente
import Vite from "./icons/Vite.astro"
import TailwindCSS from "./icons/TailwindCSS.astro"

const TAGS = {
    VITE: {
        name: "Vite",
        class: "bg-black text-white",
        icon: Vite     
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-black text-white",
        icon: TailwindCSS
    }
}

const PROJECTS = [
    {
        title: 'Epikka | Analytics & Marketing',
        description: 'Brindamos las mejores estratégias para Marketing y Analiticas para los negocios digitales',
        link: 'https://epikka-new.vercel.app/home',
        github: 'https://github.com/RadamantiumX/epikka-new',
        image: '../../public/projects/epikka-web.webp',
        tags: [TAGS.VITE, TAGS.TAILWIND]
    }
]
---

{
    PROJECTS.map(({ title, description, tags, image }) => (
        <article>
           <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
           <p class="text-lg mb-4 text-pretty">{description}</p>
           <ul>
             {
                tags.map(tag => (
                    <li><tag.icon/></li>
                ))
             }
            </ul>
            <img class="rounded shadow-2xl shadow-white/10" src={image} alt={`Project screenshot ${title}`}/>
        </article>
    ))
}