---
import SocialPill from "./SocialPill.astro"
import LinkedInIcon from "./icons/LinkedIn.astro"
import GitHubIcon from "./icons/GitHub.astro"

import GmailIcon from "./icons/Gmail.astro"

---

<nav class="flex gap-4 mt-8 flex-wrap">
    <SocialPill classProps="hover:bg-blue-700" href="https://www.linkedin.com/in/eduardo-arede-658677221/">
       <LinkedInIcon class="size-4 md:size-6"/>
        LinkedIn
        {/* <a
      href="https://www.linkedin.com/in/eduardo-arede-658677221/"
      target="_blank"
        rel="noopener"><Badge>Open to work</Badge></a>*/}
    </SocialPill>
    <SocialPill classProps="hover:bg-black" href="https://github.com/RadamantiumX">
        <GitHubIcon class="size-4 md:size-6"/>
        GitHub
     </SocialPill>
     <SocialPill classProps="hover:bg-red-600" href="mailto:eduardo.arede@gmail.com">
        <GmailIcon class="size-4 md:size-6"/>
        eduardo.arede@gmail.com
     </SocialPill>
</nav>