---
interface Props {
   title: string
   emoji: string
}

const {title, emoji} = Astro.props
---
<section class="banner-social mb-40 py-1.5">
  <div class="flex flex-col items-center justify-center align-middle text-2xl">
    <h2 class="text-gray-200">{title}<span class="text-yellow-500">{emoji}</span></h2>
   <div class="flex flex-row justify-center -mt-3">
    <slot/>
  </div>
</div> 
</section>