---
import SocialPill from "./SocialPill.astro"
import LinkedInIcon from "./icons/LinkedIn.astro"
import GitHubIcon from "./icons/GitHub.astro"
import MailIcon from "./icons/Mail.astro"
import Badge from "./Badge.astro"
---

<nav class="flex gap-4 mt-8 flex-wrap">
    <SocialPill href="https://www.linkedin.com/in/eduardo-arede-658677221/">
       <LinkedInIcon class="size-4 md:size-6"/>
        LinkedIn
        {/* <a
      href="https://www.linkedin.com/in/eduardo-arede-658677221/"
      target="_blank"
        rel="noopener"><Badge>Open to work</Badge></a>*/}
    </SocialPill>
    <SocialPill href="https://github.com/RadamantiumX">
        <GitHubIcon class="size-4 md:size-6"/>
        GitHub
     </SocialPill>
     <SocialPill href="https://github.com/RadamantiumX">
        <MailIcon class="size-4 md:size-6"/>
        eduardo.arede@gmail.com
     </SocialPill>
</nav>